<!doctype html>
<html lang="en">
<head>
    <title>Pathein Seed Testing Laboratory (Department Of Agriculture)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
	
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body class="my">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
					<div class="brand"> <a ><img src="assets/img/logo.png" alt="qaat" class="img-responsive logo"></a> 	</div>
					
				<div class="mob-logo hidden-lg hidden-md ">
				<a ><img src="assets/img/logo-dark.png" alt="" class="img-responsive logo"></a>				</div>
				<h2 class="head"> Pathein Seed Testing Laboratory (Department Of Agriculture) </h2>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
									 
								</li>
								<li><a (click)="logout()"><i class="lnr lnr-exit"></i> <span class="pointer">Logout</span></a></li>
							</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav" *ngIf="roleId4==='1' || roleId4==='3'">
						<li><a (click)="getDashboard()" class="active  metric dash-main"> <span >Dashboard</span></a></li>
						
						<li><a (click)="getGenerateReport()" class="metric dash-main"> <span>Generate Report</span></a></li>
					</ul>
					<ul class="nav" *ngIf="roleId4==='2'">
						
						<li ><a  (click)="getSampleRegistration()"  class="active metric dash-main"> <span class="pointer">Sample Registration From</span></a></li>
						<!-- <li><a  (click)="getMoistureRecord()" class=" metric dash-main"> <span>Moisture Testing Records</span></a></li>
						<li ><a (click)="getPhysicalPurityRecord()" class="metric dash-main"> <span>Physical Purity Records</span></a></li>
						<li ><a (click)="getGerminationTesting()" class="metric dash-main"> <span>Germination Testing Records</span></a></li> -->
					</ul>
				</nav>
			</div>
		</div>	
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<form #f="ngForm" (ngSubmit)="f.form.valid && sampleAdd(f)"  novalidate>
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-body">
						    <div class="row">
                                <div class="col-md-12">
									<!-- PANEL HEADLINE -->
									<div class="panel panel-headline">
										<div class="panel-body">
											<div class="col-md-12 padd0">
                                                    
													<div class="form-group col-md-3">
														<div class="form-group col-md-12">
															<label for="emailaddress"> Year </label>
															<select class='select-option form-control' [(ngModel)]="model.year" (change)='onOptionSelected6($event)' name="year" ngModel required #year="ngModel">
																<option class='option' *ngFor='let years of years' [value]="years">{{years}}</option>
															</select>
															<div *ngIf="f.submitted && year.invalid" class="invalid-feedback valid">
																<div *ngIf="year.errors.required">*year is required</div>
															</div>
														</div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <div class="form-group col-md-12">
															<label for="emailaddress"> Season </label>
															<select class='select-option form-control' [(ngModel)]="model.season" (change)='onOptionSelected7($event)' name="season" ngModel required #season="ngModel">
																	<option class='option'  [value]="1">Summer</option>
																	<option class='option'  [value]="2">Monsoon</option>
																	<option class='option'  [value]="3">Winter</option>
															</select>
															<div *ngIf="f.submitted && season.invalid" class="invalid-feedback valid">
																<div *ngIf="season.errors.required">*season is required</div>
															</div>
														</div>
													</div>
													<div class="form-group col-md-3">
															<label for="emailaddress"> Date of Receipt </label>
													<input class="form-control" type="date" id="dateOfReceipt" [(ngModel)]="model.dateOfReceipt" name="dateOfReceipt"
													#dateOfReceipt="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dateOfReceipt.invalid }" required/>
													<div *ngIf="f.submitted && dateOfReceipt.invalid" class="invalid-feedback valid">
														<div *ngIf="dateOfReceipt.errors.required">*date is required</div>
													</div>
														</div> 
													 <div class="form-group col-md-3">
                                                        <label for="emailaddress"> Sender's Name </label>
													<input class="form-control"  id="senderName"   [(ngModel)]="model.senderName" name="senderName"
													#senderName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && senderName.invalid }" required/>
													<div *ngIf="f.submitted && senderName.invalid" class="invalid-feedback valid">
														<div *ngIf="senderName.errors.required">*Sender Name is required</div>
													</div>
													</div> 
											
                                            </div>
                                        </div>
                                    </div>
									<!-- END PANEL HEADLINE -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- PANEL HEADLINE -->
                                    <div class="panel panel-headline">
                                        <div class="panel-body">

                                        
													<div class="form-group col-md-3">
															<label for="emailaddress"> Region </label>
															<select class='select-option form-control' [(ngModel)]="model.regionId" (change)='onOptionSelected2($event)' name="region" ngModel required #region="ngModel">
																<option class='option' *ngFor='let option of options2' [value]="option.id">{{option.region}}</option>
															</select>
															<div *ngIf="f.submitted && region.invalid" class="invalid-feedback valid">
																<div *ngIf="region.errors.required">*region is required</div>
															</div>
														
													</div>
													<div class="form-group col-md-3">
															<label for="emailaddress"> Township </label>
															<select class='select-option form-control' [(ngModel)]="model.townshipId" (change)='onOptionSelected3($event)' name="township" ngModel required #township="ngModel">
																<option class='option' *ngFor='let option of options3' [value]="option.id">{{option.name}}</option>
															</select>
															<div *ngIf="f.submitted && township.invalid" class="invalid-feedback valid">
																<div *ngIf="township.errors.required">*township is required</div>
															</div>
													</div>
													<div class="form-group col-md-3">
															<label for="emailaddress"> Village Track </label>
															<select class='select-option form-control' [(ngModel)]="model.villageTrack" (change)='onOptionSelected4($event)'  name="villageTrack" ngModel required #villageTrack="ngModel" >
																<option class='option' *ngFor='let option of options4' [value]="option.name">{{option.name}}</option>
															</select>
															<div *ngIf="f.submitted && villageTrack.invalid" class="invalid-feedback valid">
																<div *ngIf="villageTrack.errors.required">*village-track is required</div>
															</div>
													</div>
													<div class="form-group col-md-3">
															<label for="emailaddress"> Village </label>
															<select class='select-option form-control' [(ngModel)]="model.villageId" (change)='onOptionSelected5($event)'  name="village" ngModel required #village="ngModel">
																<option class='option' *ngFor='let option of options5' [value]="option.id">{{option.name}}</option>
															</select>
                                                            <div *ngIf="f.submitted && village.invalid" class="invalid-feedback valid">
																<div *ngIf="village.errors.required">*village is required</div>
															</div>
													</div>
											

											
												

												<div class="form-group col-md-6">
													<label for="emailaddress"> Crop </label>
													<select class='select-option form-control' [(ngModel)]="model.cropId" (change)='onOptionSelected($event)' name="crop" ngModel required #crop="ngModel">
															<option class='option'  [value]="">please select crop</option>
														<option class='option' *ngFor='let option of options' [value]="option.id">{{option.crop}}</option>
													</select>
													<div *ngIf="f.submitted && crop.invalid" class="invalid-feedback valid">
														<div *ngIf="crop.errors.required">*required</div>
													</div>
													
												</div>
												<div  *ngIf="optionSelected=='7'" class="form-group col-md-6">
													<label for="emailaddress"> Variety </label>
													<select  [(ngModel)]="model.variety" class='select-option form-control' (change)='onOptionSelected1($event)' name="variety" ngModel required #variety="ngModel">
														<option class='option'  [value]="">select variety</option>

														<option class='option' *ngFor='let option1 of options1' [value]="option1.variety">{{option1.variety}}</option>
													</select>
                                                    <div *ngIf="f.submitted && variety.invalid" class="invalid-feedback valid">
														<div *ngIf="variety.errors.required">*required</div>
													</div>
												</div>	
													<div *ngIf="optionSelected !='7'" class="form-group col-md-6">
															<label for="emailaddress"> Variety </label>
													<input  class="form-control" id="variety" [(ngModel)]="model.variety" name="variety"
													required [ngClass]="{ 'is-invalid': f.submitted && varietyInput.invalid }" #varietyInput="ngModel"/>
													<div *ngIf="f.submitted && varietyInput.invalid" class="invalid-feedback valid">
														<div *ngIf="varietyInput.errors.required">*required</div>
													</div>

													
												</div>
												<div class="form-group col-md-6">
													<label for="emailaddress"> seed class </label>
													<select class='select-option form-control' [(ngModel)]="model.seedClassID" (change)='onOptionSelected9($event)' name="seedClassID" ngModel required #seedClass="ngModel">
                                                 		 <option class='option'  [value]="">please select seed class</option>
														<option class='option' *ngFor='let option of options9' [value]="option.id">{{option.seedClass}}</option>
													</select>
													<div *ngIf="f.submitted && seedClass.invalid" class="invalid-feedback valid">
														<div *ngIf="seedClass.errors.required">*seed class is required</div>
													</div>
												</div>
												<div class="form-group col-md-6">
													<label for="emailaddress"> sender category </label>
													<select class='select-option form-control' [(ngModel)]="model.senderCatagory" (change)='onOptionSelected8($event)' name="senderCatagory" required #category="ngModel">
															<option class='option'  [value]="1">Seed Farms</option>
															<option class='option'  [value]="2">Seed Grower Association Members</option>
															<option class='option'  [value]="3">Seed Growers</option>
															<option class='option'  [value]="4">Seed Company</option>
															<option class='option'  [value]="5">NGOs, LNGOs</option>
															<option class='option'  [value]="6">Others</option>
													</select>
													<div *ngIf="f.submitted && category.invalid" class="invalid-feedback valid">
														<div *ngIf="category.errors.required">*sender category is required</div>
													</div>
												</div>
												<div class="form-group col-md-6">
													<label for="emailaddress"> Lot No. </label>
													<input class="form-control"  id="lotNo" [(ngModel)]="model.lotNo" name="lotNo"
													#lotNo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lotNo.invalid }" required/>
													<div *ngIf="f.submitted && lotNo.invalid" class="invalid-feedback valid">
														<div *ngIf="lotNo.errors.required">*Lot No. is required</div>
													</div>
													
												</div>
												<div class="form-group col-md-6">
													<label for="emailaddress"> Lot Size (basket) </label>
													<input class="form-control" type="number"  id="lotNo" [(ngModel)]="model.lot_size" name="lot_size"
													#lot_size="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lot_size.invalid }" required/>
													<div *ngIf="f.submitted && lot_size.invalid" class="invalid-feedback valid">
														<div *ngIf="lot_size.errors.required">*Lot Size is required</div>
													</div>
												</div>
												
												

												
												<div class="form-group col-md-12">
													<label for="emailaddress"> Test Requested </label>
												<!--	<input class="form-control" id="test_request" [(ngModel)]="model.testRequest" name="test_request"
													#name="ngModel"/>--><br>
													<label class="checkbox-inline"><input type="checkbox" (change)="selectAll()" [(ngModel)]="model.allTest" name="allTest"
														#name="ngModel"value="">All Test</label>
													<label class="checkbox-inline"><input type="checkbox"  [(ngModel)]="model.germinationTest" name="germinationTest"
														#name="ngModel">Germination Test</label>
                                                    <label class="checkbox-inline"><input type="checkbox"  [(ngModel)]="model.moistureTest" name="moistureTest"
														#name="ngModel" value="">Moisture Test</label>
													<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="model.physicalPurityTest" name="physicalPurityTest"
														#name="ngModel" value="">Physical Purity test</label>
													<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="model.redRiceTest" name="redRiceTest"
														#name="ngModel">Red Rice Test</label>
													
												</div>
												<div class="form-group col-md-6">
													<label for="emailaddress"> Sample Qty. (g) </label>
													<input type="number" class="form-control"  id="sampleQty"[(ngModel)]="model.sampleQty" name="sampleQty"
													#sampleQty="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sampleQty.invalid }" required/>
													<div *ngIf="f.submitted && sampleQty.invalid" class="invalid-feedback valid">
														<div *ngIf="sampleQty.errors.required">*Sample Qty. is required</div>
													</div>
												</div>
											 <div class="form-group col-md-6">
												<label for="emailaddress"> Seed Source </label>
												<input type="text" class="form-control"  id="seedSource" [(ngModel)]="model.seedSource" name="seedSource"
												#seedSource="ngModel" [ngClass]="{ 'is-invalid': f.submitted && seedSource.invalid }" required/>
											    <div *ngIf="f.submitted && seedSource.invalid" class="invalid-feedback valid">
													<div *ngIf="seedSource.errors.required">*Seed Source is required</div>
												</div>
											</div>
												<div class="form-group col-md-12" >
													<label for="emailaddress"> Packing Quality </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<label class="radio-inline"> <input type="radio"   id="packing"
													value="Good"	[(ngModel)]="model.packing" name="packing"
													#name="ngModel"/> Good Quality </label>
													<label class="radio-inline"> <input type="radio"  id="packing" value="Not Good" [(ngModel)]="model.packing" name="packing"
														#name="ngModel"/> Not Good Quality </label>
														
												</div>

												<div *ngIf="roleId4==='1'" class="form-group col-md-12">
														<button  type="submit"  class="btn btn-success"  > UPDATE </button>
													</div>

												<div *ngIf="roleId4==='2'" class="form-group col-md-12">
													<button   type="submit" class="btn btn-success" > SUBMIT </button>
												</div>
											
										</div>
                                    </div>
                                    <!-- END PANEL HEADLINE -->
                                </div>
                            </div>
							
							
				
						</div>
					</div>
					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
			</form>
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
      
        </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script>
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		// visits trend charts
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


		// visits chart
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		// real-time pie chart
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; // in milliseconds

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
	</script>

</body>
</html>
