<!doctype html>
<html lang="en">
<head>
    <title>Pathein Seed Testing Laboratory (Department Of Agriculture)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	
	

	
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body class="my">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			
			<div class="container-fluid">
				
				<div class="brand">
						<a ><img src="assets/img/logo.png" alt="qaat" class="img-responsive logo"></a>			</div>
				<div class="mob-logo hidden-lg hidden-md ">
				<a ><img src="assets/img/logo-dark.png" alt="" class="img-responsive logo"></a>				</div>
				<h2 class="head"> Pathein Seed Testing Laboratory (Department Of Agriculture) </h2>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								</li>
								<li><a (click)="logout()" ><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav" *ngIf="roleId3==='1' || roleId3==='3'">
						<li><a (click)="getDashboard()" class="active  metric dash-main"> <span >Dashboard</span></a></li>
						
						<li><a (click)="getGenerateReport()" class="metric dash-main"> <span>Generate Report</span></a></li>
					</ul>
					<ul class="nav" *ngIf="roleId3==='2'">
						
						<li ><a  (click)="getSampleRegistration()"  class=" metric dash-main"> <span>Sample Registration From</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				
					<form  #f="ngForm" (ngSubmit)="f.form.valid && addPhysicalPurity()">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-body">
						    <div class="row">
                                <div class="col-md-12">
									<!-- PANEL HEADLINE -->
									<div class="panel panel-headline">
										<div class="panel-body">
											<div class="col-md-12 padd0">
													<div class="form-group col-md-6">
															<label for="emailaddress"> Date of Sample receipt </label>
															<input class="form-control" readonly type="date" id="end" [(ngModel)]="model.dateOfReceipt" name="date_of_receipt"
															#name="ngModel"/>
                                                    </div>
                                                    <div class="form-group col-md-6">
															<label for="emailaddress"> Date of test </label>
															<input class="form-control" type="date" id="end"  [(ngModel)]="model.dateOfTest" name="date_of_test"
															#name="ngModel"/>
                                                    </div>
													
                                            </div>
                                        </div>
                                    </div>
									<!-- END PANEL HEADLINE -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- PANEL HEADLINE -->
                                    <div class="panel panel-headline">
                                        <div class="panel-body">
												<div class="form-group col-md-3">
													<label for="emailaddress"> Lab ref no. </label>
													<input class="form-control"  type="text" [(ngModel)]="model.labReferenceCode" name="lab_reference_code"
													#name="ngModel" readonly/>
												</div>
												<div class="form-group col-md-3">
														<label for="emailaddress"> Crop </label>
														<input class="form-control"  type="text" id=crop [(ngModel)]="model.cropName" name="crop"
														#name="ngModel" readonly/>
												</div>
												<div class="form-group col-md-3">
														<label for="emailaddress"> Variety </label>
														<input class="form-control" type="text" id=variety [(ngModel)]="model.variety" name="variety"
														#name="ngModel" readonly/>
												</div>
											
												
												<div class="form-group col-md-3">
													<label for="emailaddress"> Seed class </label>
													<input class="form-control" type="text" [(ngModel)]="model.seedClass" name="seed_class"
													#name="ngModel" readonly/>
												</div>
												
										</div>
                                    </div>
                                    <!-- END PANEL HEADLINE -->
                                </div>
                            </div>
							
							<div class="row">
									<div class="col-md-12">
										<!-- PANEL HEADLINE -->
										<div class="panel panel-headline">
											<div class="panel-body">
													<div>Replication 1 :</div>
														<div class="form-group col-md-12">
																<label for="emailaddress"> Weight Of Sample(g) </label>
																<input class="form-control" type="number" step="0.01" [(ngModel)]="model.weightOfSample" name="weightOfSample"
																#weightOfSample="ngModel" [ngClass]="{ 'is-invalid': f.submitted && weightOfSample.invalid }" required/>
																<div *ngIf="f.submitted && weightOfSample.invalid" class="invalid-feedback valid">
																	<div *ngIf="weightOfSample.errors.required">*required</div>
																</div>
															</div>
															<div class="form-group col-md-6">
																<label for="emailaddress"> Pure Seed(g) </label>
																<input class="form-control" type="number" step="0.01" [(ngModel)]="model.pureSeed" name="pureSeed"
																#pureSeed="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pureSeed.invalid }" required/>
																<div *ngIf="f.submitted && pureSeed.invalid" class="invalid-feedback valid">
																	<div *ngIf="pureSeed.errors.required">*required</div>
																</div>
															</div>
															<div class="form-group col-md-6">
																	<label for="emailaddress"> Average </label>
																	<input class="form-control" readonly type="number" step="0.01" [(ngModel)]="pureSeedPer" name="pureSeedPer"
																	#name="ngModel"/>
																</div>
															<div class="form-group col-md-6">
																<label for="emailaddress"> Inert Matter(g) </label>
																<input class="form-control" type="number" step="0.01" [(ngModel)]="model.inertMatter" name="inertMatter"
																#inertMatter="ngModel" [ngClass]="{ 'is-invalid': f.submitted && inertMatter.invalid }" required/>
																<div *ngIf="f.submitted && inertMatter.invalid" class="invalid-feedback valid">
																	<div *ngIf="inertMatter.errors.required">*required</div>
																</div>
															</div>
															<div class="form-group col-md-6">
																	<label for="emailaddress"> Average </label>
																	<input class="form-control" readonly type="number" step="0.01" [(ngModel)]="inertSeedPer" name="inertSeedPer"
																	#name="ngModel"/>
																</div>
								                      	<div class="form-group col-md-6">
																<label for="emailaddress"> Other crop Seeds (g) </label>
																<input class="form-control"  type="number" step="0.01" [(ngModel)]="model.otherCropSeeds" name="otherCropSeeds"
																#otherCropSeeds="ngModel" [ngClass]="{ 'is-invalid': f.submitted && otherCropSeeds.invalid }" required/>
																<div *ngIf="f.submitted && otherCropSeeds.invalid" class="invalid-feedback valid">
																	<div *ngIf="otherCropSeeds.errors.required">*required</div>
																</div>
															</div>
															<div class="form-group col-md-6">
																	<label for="emailaddress"> Average </label>
																	<input class="form-control" readonly type="number" step="0.01" [(ngModel)]="otherSeedPer" name="otherSeedPer"
																	#name="ngModel"/>
																</div>
																<div class="form-group col-md-6">
																		<label for="emailaddress">Weed Seeds (g) </label>
																		<input class="form-control"  type="number" step="0.01" [(ngModel)]="model.weed" name="weed"
																		#weed="ngModel" [ngClass]="{ 'is-invalid': f.submitted && weed.invalid }" required/>
																<div *ngIf="f.submitted && weed.invalid" class="invalid-feedback valid">
																	<div *ngIf="weed.errors.required">*required</div>
																</div>
																	</div>
															<div class="form-group col-md-6">
																			<label for="emailaddress"> Average </label>
																			<input class="form-control" readonly type="number" step="0.01" [(ngModel)]="weedSeedPer" name="weedSeedPer"
																			#name="ngModel"/>
														</div>
												
											</div>
										</div>
										<!-- END PANEL HEADLINE -->
									</div>
								</div>
								<div class="row">
										<div class="col-md-12">
											<!-- PANEL HEADLINE -->
											<div class="panel panel-headline">
												<div class="panel-body">
														<div>Replication 2 :</div>
															<div class="form-group col-md-12">
																	<label for="emailaddress"> Weight Of Sample(g) </label>
																	<input class="form-control" type="number" step="0.01" [(ngModel)]="model.weightOfSampleR" name="weightOfSampleR"
																	#weightOfSampleR="ngModel" [ngClass]="{ 'is-invalid': f.submitted && weightOfSampleR.invalid }" required/>
																<div *ngIf="f.submitted && weightOfSampleR.invalid" class="invalid-feedback valid">
																	<div *ngIf="weightOfSampleR.errors.required">*required</div>
																</div>
																</div>
																<div class="form-group col-md-6">
																	<label for="emailaddress"> Pure Seed(g) </label>
																	<input class="form-control" type="number" step="0.01" [(ngModel)]="model.pureSeedR" name="pureSeedR"
																	#pureSeedR="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pureSeedR.invalid }" required/>
																<div *ngIf="f.submitted && pureSeedR.invalid" class="invalid-feedback valid">
																	<div *ngIf="pureSeedR.errors.required">*required</div>
																</div>
																</div>
																<div class="form-group col-md-6">
																		<label for="emailaddress"> Average </label>
																		<input class="form-control" readonly type="number" step="0.01" [(ngModel)]="pureSeedPerR" name="pureSeedPerR"
																		#name="ngModel"/>
																	</div>
																<div class="form-group col-md-6">
																	<label for="emailaddress"> Inert Matter(g) </label>
																	<input class="form-control" type="number" step="0.01" [(ngModel)]="model.inertMatterR" name="inertMatterR"
																	#inertMatterR="ngModel" [ngClass]="{ 'is-invalid': f.submitted && inertMatterR.invalid }" required/>
																<div *ngIf="f.submitted && inertMatterR.invalid" class="invalid-feedback valid">
																	<div *ngIf="inertMatterR.errors.required">*required</div>
																</div>
																</div>
																<div class="form-group col-md-6">
																		<label for="emailaddress"> Average </label>
																		<input class="form-control"  type="number" step="0.01" readonly [(ngModel)]="inertSeedPerR" name="inertSeedPerR"
																		#name="ngModel"/>
																	</div>
															  <div class="form-group col-md-6">
																	<label for="emailaddress"> Other crop Seeds (g) </label>
																	<input class="form-control"  type="number" step="0.01" [(ngModel)]="model.otherCropSeedsR" name="otherCropSeedsR"
																	#otherCropSeedsR="ngModel" [ngClass]="{ 'is-invalid': f.submitted && otherCropSeedsR.invalid }" required/>
																<div *ngIf="f.submitted && otherCropSeedsR.invalid" class="invalid-feedback valid">
																	<div *ngIf="otherCropSeedsR.errors.required">*required</div>
																</div>
																</div>
																<div class="form-group col-md-6">
																		<label for="emailaddress"> Average </label>
																		<input class="form-control"  type="number" step="0.01" readonly [(ngModel)]="otherSeedPerR" name="otherSeedPerR"
																		#name="ngModel"/>
																	</div>
																	<div class="form-group col-md-4">
																			<label for="emailaddress">Weed Seeds (g) </label>
																			<input class="form-control" type="number" step="0.01" [(ngModel)]="model.weedReplica" name="weedReplica"
																			#weedReplica="ngModel" [ngClass]="{ 'is-invalid': f.submitted && weedReplica.invalid }" required/>
																<div *ngIf="f.submitted && weedReplica.invalid" class="invalid-feedback valid">
																	<div *ngIf="weedReplica.errors.required">*required</div>
																</div>
																		</div>
																<div class="form-group col-md-4">
																				<label for="emailaddress"> Average </label>
																				<input class="form-control"  type="number" step="0.01" readonly [(ngModel)]="weedSeedPerR" name="weedSeedPerR"
																				#name="ngModel"/>
															</div>
															<div class="form-group col-md-4">
																	<label for="emailaddress"> Get Calculated Values </label><br>
																<button class="btn btn-success" type="button" (click)="getCalculatedValues()" value="Values"> ANALYS </button>
															</div>
													
												</div>
											</div>
											<!-- END PANEL HEADLINE -->
										</div>
									</div>
							
							
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- PANEL HEADLINE -->
                                    <div class="panel panel-headline">
                                        <div class="panel-body">
											
											  <div class="form-group col-md-6">
													<label for="emailaddress"> Physical Purity% </label>
													<input class="form-control" readonly type="text" [(ngModel)]="model.physicalPurity" name="physicalPurity"
													#name="ngModel"/>
												</div>
                                            
                                                <div class="form-group col-md-6">
													<label for="emailaddress"> Initials of Analyst </label>
													<input class="form-control" type="text" [(ngModel)]="model.inOfAnalyst" name="inOfAnalyst"
													#inOfAnalyst="ngModel" [ngClass]="{ 'is-invalid': f.submitted && inOfAnalyst.invalid }" required/>
																<div *ngIf="f.submitted && inOfAnalyst.invalid" class="invalid-feedback valid">
																	<div *ngIf="inOfAnalyst.errors.required">*required</div>
																</div>
												</div>
                                            
												
												<div class="form-group col-md-12">
													<button class="btn btn-success" type="submit"  value="Register"> UPDATE </button>
												</div>
											
                                        </div>
                                    </div>
                                    <!-- END PANEL HEADLINE -->
                                </div>
                            </div>
						</div>
					</div>
					<!-- END OVERVIEW -->
				</div>
				</form>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
            <div class="container-fluid">
            </div>
        </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script>
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		// visits trend charts
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


		// visits chart
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		// real-time pie chart
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; // in milliseconds

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
	</script>

</body>
</html>
