<!doctype html>
<html lang="en">
<head>
    <title>Pathein Seed Testing Laboratory (Department Of Agriculture)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
 
	


    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body class="my">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			
			<div class="container-fluid">
					<div class="brand">
							<a href="index.html"><img src="assets/img/logo.png" alt="qaat" class="img-responsive logo"></a>	
								</div>
				<div class="mob-logo hidden-lg hidden-md ">
				<a href="index.html"><img src="assets/img/logo-dark.png" alt="" class="img-responsive logo"></a>				</div>
				<h2 class="head"> Pathein Seed Testing Laboratory (Department Of Agriculture) </h2>
				<div id="navbar-menu">
						<ul class="nav navbar-nav navbar-right">
							
								<li class="dropdown">
										 
									</li>
									<li><a (click)="logout()"><i class="lnr lnr-exit"></i> <span class="pointer">Logout</span></a></li>
								
						</ul>
					</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav" *ngIf="roleId2==='1' || roleId2==='3'">
						<li><a (click)="getDashboard()" class="active  metric dash-main"> <span >Dashboard</span></a></li>
						
						<li><a (click)="getGenerateReport()" class="metric dash-main"> <span>Generate Report</span></a></li>
					</ul>
					<ul class="nav" *ngIf="roleId2==='2'">
						
						<li ><a  (click)="getSampleRegistration()"  class=" metric dash-main"> <span>Sample Registration From</span></a></li>
						<li ><a  (click)="getMoistureRecord()" class="active metric dash-main"> <span>Moisture Testing Records</span></a></li>
						<li><a (click)="getPhysicalPurityRecord()" class="metric dash-main"> <span>Physical Purity Records</span></a></li>
						<li ><a (click)="getGerminationTesting()" class="metric dash-main"> <span>Germination Testing Records</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<form #f="ngForm" (ngSubmit)="f.form.valid && updateMoistureTest()" novalidate>
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-body">
						  
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- PANEL HEADLINE -->
                                    <div class="panel panel-headline">
                                        <div class="panel-body">
													<div class="form-group col-md-6">
															<label for="emailaddress"> Date of Sample receipt </label>
															<input class="form-control" readonly type="date"  id="end" [(ngModel)]="model.dateOfReceipt" name="dateOfReceipt"
															#name="ngModel"/>
														</div>
														<div class="form-group col-md-6">
																<label for="emailaddress"> Date of test </label>
																<input class="form-control"  type="date" id="end"  [(ngModel)]="model.dateOfTest" name="dateOfTest"
																#name="ngModel"/>
															</div>
												<div class="form-group col-md-4">
													<label for="emailaddress"> Lab ref no. </label>
													<input class="form-control" type="text" [(ngModel)]="model.labReferenceCode" name="labReferenceCode"
													#name="ngModel" readonly required/>
												</div>
												<div class="form-group col-md-4">
														<label for="emailaddress"> Crop Name </label>
														<input class="form-control"  type="text" id=crop [(ngModel)]="model.cropName" name="cropName"
														#name="ngModel" readonly/>
													</div>
												
												<div class="form-group col-md-4">
													<label for="emailaddress"> Variety </label>
													<input class="form-control" type="text" id=variety [(ngModel)]="model.variety" name="variety"
													#name="ngModel" readonly/>
												</div>
												<div class="form-group col-md-6">
														<label for="emailaddress"> Seed class </label>
														<input class="form-control" readonly type="text" [(ngModel)]="model.seedClass" name="seed_class"
														#name="ngModel"/>
													</div>
												
												<div class="form-group col-md-6">
													<label for="emailaddress"> Method </label>
													<select class='select-option form-control'  [(ngModel)]="model.methodId" (change)='onOptionSelected($event)'  name="method" ngModel required #method="ngModel">
															<option class='option'  [value]="1">Meter</option>
															<option class='option'  [value]="2">Oven</option>
													</select>
											</div>
												
												<div class="form-group col-md-6">
													<label for="emailaddress"> Temp 'c </label>
													<input class="form-control" type="text" [(ngModel)]="model.tempC" name="tempC"
													#tempC="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tempC.invalid }" required/>
																<div *ngIf="f.submitted && tempC.invalid" class="invalid-feedback valid">
																	<div *ngIf="tempC.errors.required">*required</div>
																</div>
												</div>
												<div class="form-group col-md-6">
													<label for="emailaddress"> Rh % </label>
													<input class="form-control" type="text" [(ngModel)]="model.rh" name="rh"
													#rh="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rh.invalid }" required/>
																<div *ngIf="f.submitted && rh.invalid" class="invalid-feedback valid">
																	<div *ngIf="rh.errors.required">*required</div>
																</div>
												</div>
										</div>
                                    </div>
                                    <!-- END PANEL HEADLINE -->
                                </div>
							</div>
							
                        <!--               METER DIV                  -->
							<div class="row" *ngIf="model.methodId==='1' || optionSelected==='1'">
									<div class="col-md-12">
										<!-- PANEL HEADLINE -->
										<div class="panel panel-headline">
											<div class="panel-body">
													<div class="form-group col-md-4">
															<label for="emailaddress"> Meter Reading 1 % </label>
															<input class="form-control" type="text" [(ngModel)]="model.meterReading1" name="meterReading1"
															#meterReading1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && meterReading1.invalid }" required/>
																<div *ngIf="f.submitted && meterReading1.invalid" class="invalid-feedback valid">
																	<div *ngIf="meterReading1.errors.required">*required</div>
																</div>
														</div>
														<div class="form-group col-md-4">
																<label for="emailaddress"> Meter Reading 2 % </label>
																<input class="form-control"  type="text"  [(ngModel)]="model.meterReading2" name="meterReading2"
																#meterReading2="ngModel" [ngClass]="{ 'is-invalid': f.submitted && meterReading2.invalid }" required/>
																<div *ngIf="f.submitted && meterReading2.invalid" class="invalid-feedback valid">
																	<div *ngIf="meterReading2.errors.required">*required</div>
																</div>
															</div>
														
														<div class="form-group col-md-4">
															<label for="emailaddress"> Meter Reading 3 % </label>
															<input class="form-control" type="text"  [(ngModel)]="model.meterReading3" name="meterReading3"
															#meterReading3="ngModel" [ngClass]="{ 'is-invalid': f.submitted && meterReading3.invalid }" required/>
																<div *ngIf="f.submitted && meterReading3.invalid" class="invalid-feedback valid">
																	<div *ngIf="meterReading3.errors.required">*required</div>
																</div>
														</div>
											</div>
										</div>
										<!-- END PANEL HEADLINE -->
									</div>
								</div>

						<!--               OVEN DIV                  -->
								<div class="row" *ngIf="model.methodId==='2' || optionSelected==='2'">
										<div class="col-md-12">
											<!-- PANEL HEADLINE -->
											<div class="panel panel-headline">
												<div class="panel-body">
														<label for="emailaddress"> Oven Condition </label>
														<input class="form-control" placeholder="Temp'c" type="text"  [(ngModel)]="model.tempOven" name="tempOven"
														#tempOven="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tempOven.invalid }" required/>
																<div *ngIf="f.submitted && tempOven.invalid" class="invalid-feedback valid">
																	<div *ngIf="tempOven.errors.required">*required</div>
																</div>
												</div>
											</div>
											<!-- END PANEL HEADLINE -->
										</div>
										<div class="col-md-12">
												<!-- PANEL HEADLINE -->
												<div class="panel panel-headline">
													<div class="panel-body">
															<div>Replication 1 :</div>
															<div class="form-group col-md-4">
																	<label for="emailaddress"> Wt Of Container </label>
																	<input class="form-control" type="number" [(ngModel)]="model.wtOfContainer" name="wtOfContainer"
																	#wtOfContainer="ngModel" [ngClass]="{ 'is-invalid': f.submitted && wtOfContainer.invalid }" required/>
																	<div *ngIf="f.submitted && wtOfContainer.invalid" class="invalid-feedback valid">
																		<div *ngIf="wtOfContainer.errors.required">*required</div>
																	</div>
																</div>
																<div class="form-group col-md-4">
																		<label for="emailaddress"> Wt Of Seed + Container </label>
																		<input class="form-control"  type="number" [(ngModel)]="model.wtOfSeedContainer" name="wtOfSeedContainer"
																		#wtOfSeedContainer="ngModel" [ngClass]="{ 'is-invalid': f.submitted && wtOfSeedContainer.invalid }" required/>
																	<div *ngIf="f.submitted && wtOfSeedContainer.invalid" class="invalid-feedback valid">
																		<div *ngIf="wtOfSeedContainer.errors.required">*required</div>
																	</div>
																	</div>
																
																<div class="form-group col-md-4">
																	<label for="emailaddress"> Wt Of Dry Seed + Container </label>
																	<input class="form-control" type="number" [(ngModel)]="model.wtOfDrySeedContainer" name="wtOfDrySeedContainer"
																	#wtOfDrySeedContainer="ngModel" [ngClass]="{ 'is-invalid': f.submitted && wtOfDrySeedContainer.invalid }" required/>
																	<div *ngIf="f.submitted && wtOfDrySeedContainer.invalid" class="invalid-feedback valid">
																		<div *ngIf="wtOfDrySeedContainer.errors.required">*required</div>
																	</div>
																</div>
													</div>
												</div>
												<!-- END PANEL HEADLINE -->
											</div>
											<div class="col-md-12">
													<!-- PANEL HEADLINE -->
													<div class="panel panel-headline">
														<div class="panel-body">
																<div>Replication 2 :</div>
																<div class="form-group col-md-4">
																		<label for="emailaddress"> Wt Of Container </label>
																		<input class="form-control" type="number" [(ngModel)]="model.wtOfContainerR1" name="wtOfContainerR1"
																		#wtOfContainerR1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && wtOfContainerR1.invalid }" required/>
																	<div *ngIf="f.submitted && wtOfContainerR1.invalid" class="invalid-feedback valid">
																		<div *ngIf="wtOfContainerR1.errors.required">*required</div>
																	</div>
																	</div>
																	<div class="form-group col-md-4">
																			<label for="emailaddress"> Wt Of Seed + Container </label>
																			<input class="form-control"  type="number" [(ngModel)]="model.wtOfSeedContainerR1" name="wtOfSeedContainerR1"
																			#wtOfSeedContainerR1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && wtOfSeedContainerR1.invalid }" required/>
																	<div *ngIf="f.submitted && wtOfSeedContainerR1.invalid" class="invalid-feedback valid">
																		<div *ngIf="wtOfSeedContainerR1.errors.required">*required</div>
																	</div>
																		</div>
																	
																	<div class="form-group col-md-4">
																		<label for="emailaddress"> Wt Of Dry Seed + Container </label>
																		<input class="form-control" type="number" [(ngModel)]="model.wtOfDrySeedContainerR1" name="wtOfDrySeedContainerR1"
																		#wtOfDrySeedContainerR1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && wtOfDrySeedContainerR1.invalid }" required/>
																	<div *ngIf="f.submitted && wtOfDrySeedContainerR1.invalid" class="invalid-feedback valid">
																		<div *ngIf="wtOfDrySeedContainerR1.errors.required">*required</div>
																	</div>
																	</div>
																	
														</div>
													</div>
													<!-- END PANEL HEADLINE -->
												</div>
									</div>


							
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- PANEL HEADLINE -->
                                    <div class="panel panel-headline">
                                        <div class="panel-body">
											
													
                                                <div class="form-group col-md-4">
													<label for="emailaddress"> Moisture Contents % </label>
													<input class="form-control"  type="text" [(ngModel)]="model.moistureContent" readonly name="moistureContent"
													#moistureContent="ngModel" [ngClass]="{ 'is-invalid': f.submitted && moistureContent.invalid }" required/>
																	<div *ngIf="f.submitted && moistureContent.invalid" class="invalid-feedback valid">
																		<div *ngIf="moistureContent.errors.required">*required</div>
																	</div>
												</div> 
                                            
                                                <div class="form-group col-md-4">
													<label for="emailaddress"> Initials of Analyst </label>
													<input class="form-control" type="text" [(ngModel)]="model.inOfAnalyst" name="inOfAnalyst"
													#inOfAnalyst="ngModel" [ngClass]="{ 'is-invalid': f.submitted && inOfAnalyst.invalid }" required/>
																	<div *ngIf="f.submitted && inOfAnalyst.invalid" class="invalid-feedback valid">
																		<div *ngIf="inOfAnalyst.errors.required">*required</div>
																	</div>
												</div>
											
												<div class="form-group col-md-4">
														<br>
															<button class="btn btn-success" type="button"  (click)="getCalculatedValues()" > ANALYS</button>

													</div>
												
												<div class="form-group col-md-12" style="align-content: right">
													<button  class="btn btn-success" type="submit"  value="Register"> UPDATE</button>
												</div>
												
											
                                        </div>
                                    </div>
                                    <!-- END PANEL HEADLINE -->
                                </div>
                            </div>
						</div>
					</div>
					<!-- END OVERVIEW -->
				</div>
			</form>
			</div>
		
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
            <div class="container-fluid">
            </div>
        </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script>
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		// visits trend charts
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


		// visits chart
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		// real-time pie chart
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; // in milliseconds

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
	</script>

</body>
</html>
