<!doctype html>
<html lang="en">
<head>
    <title>Pathein Seed Testing Laboratory (Department Of Agriculture)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	
	
	 
	
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body class="my">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
						<div class="brand">
								<a href="index.html"><img src="assets/img/logo.png" alt="qaat" class="img-responsive logo"></a>	
									</div>
					<div class="mob-logo hidden-lg hidden-md ">
					<a href="index.html"><img src="assets/img/logo-dark.png" alt="" class="img-responsive logo"></a>				</div>
					<h2 class="head"> Pathein Seed Testing Laboratory (Department Of Agriculture) </h2>
					<div id="navbar-menu">
						<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
										 
									</li>
									<li><a (click)="logout()" ><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
						</ul>
					</div>
				</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav" *ngIf="roleId1==='1' || roleId1==='3'">
						<li><a (click)="getDashboard()" class="active  metric dash-main"> <span >Dashboard</span></a></li>
						
						<li><a (click)="getGenerateReport()" class="metric dash-main"> <span>Generate Report</span></a></li>
					</ul>
					<ul class="nav" *ngIf="roleId1==='2'" >
						
						<li ><a  (click)="getSampleRegistration()"  class=" metric dash-main"> <span>Sample Registration From</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->

	
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<form #f="ngForm" (ngSubmit)="f.form.valid && updateGerminationTest()"  novalidate>
					<div class="panel panel-headline">
						<div class="panel-body">
								
						    <div class="row">
                                <div class="col-md-12">
									<!-- PANEL HEADLINE -->
									<div class="panel panel-headline">
										<div class="panel-body">
											<div class="col-md-12 padd0">
												
													<div class="form-group col-md-4">
														<label for="emailaddress"> Date of Sample receipt </label>
													<input class="form-control" type="date"  id="end" [(ngModel)]="model.dateOfReceipt" name="dateOfReceipt"
													#dateOfReceipt="ngModel" readonly [ngClass]="{ 'is-invalid': f.submitted && dateOfReceipt.invalid }" required/>
													<div *ngIf="f.submitted && dateOfReceipt.invalid" class="invalid-feedback valid">
														<div *ngIf="dateOfReceipt.errors.required">*required</div>
													</div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="emailaddress"> Date of putting </label>
													<input class="form-control" type="date" id="end"  [(ngModel)]="model.dateOfPutting" name="date_of_putting"
													#dateOfPutting="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dateOfPutting.invalid }" required/>
													<div *ngIf="f.submitted && dateOfPutting.invalid" class="invalid-feedback valid">
														<div *ngIf="dateOfPutting.errors.required">*required</div>
													</div>
                                                    </div>
													<div class="form-group col-md-4">
														<label for="emailaddress"> Date of report </label>
													<input class="form-control" type="date"  [(ngModel)]="model.dateOfReport" name="Date_of_report"
													#dateOfReport="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dateOfReport.invalid }" required/>
													<div *ngIf="f.submitted && dateOfReport.invalid" class="invalid-feedback valid">
														<div *ngIf="dateOfReport.errors.required">*required</div>
													</div>
                                                    </div>
                                               
                                            </div>
                                        </div>
                                    </div>
									<!-- END PANEL HEADLINE -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- PANEL HEADLINE -->
                                    <div class="panel panel-headline">
                                        <div class="panel-body">
												<div class="form-group col-md-6">
													<label for="emailaddress"> Lab ref no. </label>
													<input class="form-control" readonly placeholder=" lab refrence number provided on seed registration" type="text" [(ngModel)]="model.labReferenceCode" name="lab_reference_code"
													#name="ngModel" readonly/>
												</div>
												<div class="form-group col-md-6">
														<label for="emailaddress"> Method </label>
														<select class='select-option form-control' [(ngModel)]="model.methodId"  (change)='onOptionSelected($event)' name="season">
															    <option class='option'  [value]="1">TP</option>
																<option class='option'  [value]="2">BP</option>
																<option class='option'  [value]="3">SAND</option>
														</select>
												</div>
												<div class="form-group col-md-6">
													<label for="emailaddress"> Crop </label>
													<input class="form-control"  type="text" id=crop [(ngModel)]="model.crop" name="crop"
													#name="ngModel" readonly/>
												</div>
                                               <div class="form-group col-md-6">
												<label for="emailaddress"> Variety </label>
												<input class="form-control" type="text" id=variety [(ngModel)]="model.variety" name="variety"
												#name="ngModel" readonly/>
												</div>
												<div class="form-group col-md-4">
													<label for="emailaddress"> Seed class </label>
													<input class="form-control" type="text" [(ngModel)]="model.seedClass" name="seed_class"
													#name="ngModel" readonly/>
												</div>
												<div class="form-group col-md-4">
													<label for="emailaddress"> Total Seeds </label>
													<input class="form-control" type="number" [(ngModel)]="model.totalSeeds" name="totalSeeds"
													#totalSeeds="ngModel" [ngClass]="{ 'is-invalid': f.submitted && totalSeeds.invalid }" required/>
													<div *ngIf="f.submitted && totalSeeds.invalid" class="invalid-feedback valid">
														<div *ngIf="totalSeeds.errors.required">*required</div>
													</div>
												</div>
												<div class="form-group col-md-4">
													<label for="emailaddress"> Av Normal Seedlings </label>
													<input class="form-control" type="number" [(ngModel)]="model.avNormalSeedlings" name="av_normal_seedlings"
													#avNormalSeedlings="ngModel" [ngClass]="{ 'is-invalid': f.submitted && avNormalSeedlings.invalid }" required/>
													<div *ngIf="f.submitted && avNormalSeedlings.invalid" class="invalid-feedback valid">
														<div *ngIf="avNormalSeedlings.errors.required">*required</div>
													</div>
												</div>
												<div class="form-group col-md-4">
													<label for="emailaddress"> Av Abnormal Seedllings </label>
													<input class="form-control" type="number" [(ngModel)]="model.avAbnormalSeedllings" name="avAbnormalSeedllings"
													#avAbnormalSeedllings="ngModel" [ngClass]="{ 'is-invalid': f.submitted && avAbnormalSeedllings.invalid }" required/>
													<div *ngIf="f.submitted && avAbnormalSeedllings.invalid" class="invalid-feedback valid">
														<div *ngIf="avAbnormalSeedllings.errors.required">*required</div>
													</div>
												</div>
												<div class="form-group col-md-4">
													<label for="emailaddress"> Av. Dead Seedlings </label>
													<input class="form-control" type="number" [(ngModel)]="model.avDeadSeedlings" name="avDeadSeedlings"
													#avDeadSeedlings="ngModel" [ngClass]="{ 'is-invalid': f.submitted && avDeadSeedlings.invalid }" required/>
													<div *ngIf="f.submitted && avDeadSeedlings.invalid" class="invalid-feedback valid">
														<div *ngIf="avDeadSeedlings.errors.required">*required</div>
													</div>
						</div>
						<div class="form-group col-md-4">
							<label for="emailaddress"> Av. Hard FUS </label>
							<input class="form-control" type="number" [(ngModel)]="model.avHardFUS" name="avHardFUS"
							#avHardFUS="ngModel" [ngClass]="{ 'is-invalid': f.submitted && avHardFUS.invalid }" required/>
													<div *ngIf="f.submitted && avHardFUS.invalid" class="invalid-feedback valid">
														<div *ngIf="avHardFUS.errors.required">*required</div>
													</div>
							</div>
                        
										</div>
                                    </div>
                                    <!-- END PANEL HEADLINE -->
                                </div>
                            </div>
							
							
							
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- PANEL HEADLINE -->
                                    <div class="panel panel-headline">
                                        <div class="panel-body">
											  
                                            
                         <div class="form-group col-md-6">
							<label for="emailaddress"> Final Germination % </label>
							<input class="form-control" type="number" [(ngModel)]="model.finalGermination" name="finalGermination"
							#finalGermination="ngModel" [ngClass]="{ 'is-invalid': f.submitted && finalGermination.invalid }" required/>
													<div *ngIf="f.submitted && finalGermination.invalid" class="invalid-feedback valid">
														<div *ngIf="finalGermination.errors.required">*required</div>
													</div>
                        </div>
                        
                        <div class="form-group col-md-6">
							<label for="emailaddress"> Initials of Analyst </label>
							<input class="form-control" type="text" [(ngModel)]="model.initialsOfAnalyst" name="initialsOfAnalyst"
							#initialsOfAnalyst="ngModel" [ngClass]="{ 'is-invalid': f.submitted && initialsOfAnalyst.invalid }" required/>
							<div *ngIf="f.submitted && initialsOfAnalyst.invalid" class="invalid-feedback valid">
								<div *ngIf="initialsOfAnalyst.errors.required">*required</div>
							</div>


												</div>
                                            
                         
                                            
												
												<div class="form-group col-md-12">
													<button class="btn btn-success" type="submit"  > UPDATE </button>
												</div>
                                        </div>
									</div>
								
                                    <!-- END PANEL HEADLINE -->
                                </div>
                            </div>
						</div>
					
					</div>
				</form>
					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2018 QAAT</p>
            </div>
        </footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script>
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		// visits trend charts
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


		// visits chart
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		// real-time pie chart
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; // in milliseconds

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
	</script>

</body>
</html>
